/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Custom design below! */
@import url(components/banner.css);
@import url(components/buttons.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);


/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  display: block;
}

.container {
  width: 900px;
  margin: auto;
}

.text-center {
  text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

div {
  display: block;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}


@media (max-width: 500px){
  .container {
    width: 300px;
  }
}

@media (max-width: 500px){
  .cards {
    justify-content: space-around;
  }
}


@media (max-width: 900px){
  .card {
    margin-bottom: 15px;
  }
}
